CompositeProductService/Adapter/GetProduct/Shared Resources/Schemas/RMA/Schema_RMAArticle_Hierarchial.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns="urn:agrp:acs"
	 targetNamespace="urn:agrp:acs"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="mt_RMAArticle" type="dt_RMAArticle"/>
	<xsd:complexType name="dt_RMAArticle">
		<xsd:annotation>
			<xsd:appinfo source="http://sap.com/xi/TextID">1dcfa8257b4611e2b62700000045f7ec</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Statement_SUB_RMA_ARTICLE" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">5f283ad03b9911ddc8720016e620ba90</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_ARTICLE">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5f283ad13b9911dda1bd0016e620ba90</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">5f283ad43b9911dda3820016e620ba90</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ad63b9911dda8800016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ARTICLE_NUMBER" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ad73b9911dda9c40016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="COLOUR_COMBINATION_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ad83b9911ddb90a0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LOCAL_BUYING_ARTICLE_NUMBER" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ad93b9911dd96d90016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="COUNTRY_OF_ORIGIN" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ada3b9911ddcf6c0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="SMU_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283adb3b9911ddbead0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="IMAGE_LINK" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283adc3b9911ddce1f0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="COLOR_WAY_NUMBER" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283add3b9911ddba250016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="DUMMY_ARTICLE_NUMBER" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ade3b9911dd8e990016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MODEL_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283adf3b9911dd9ec10016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GLOBAL_BRAND_RANGE_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ae03b9911dda4d10016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="IAM_RELEASE_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ae13b9911ddaa970016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ARTICLE_COLOR_DESCRIPTION" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ae23b9911dda40e0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="GLOBAL_ARTICLE_STATUS_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ae33b9911dd9d550016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TRANSACTION_MODE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f283ae43b9911ddca640016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="WIDTH" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">db868de06c4311ddbb51001d7db64d18</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_ARTICLE_AREA_SALES_PRICE" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">5f2aabd33b9911dd8c5d0016e620ba90</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="SUB_RMA_ARTICLE_AREA_SALES_PRICE"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_REGION_ARTICLE_TIME_PERIOD" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">8e214d103f7a11ddc9a900188b2c67d0</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_REGION_ARTICLE_TIME_PERIOD">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">8e214d113f7a11ddcd3400188b2c67d0</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">8e214d143f7a11ddcf4d00188b2c67d0</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d153f7a11ddc9d600188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d163f7a11dd8abf00188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REGION_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d173f7a11dd832200188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REGIONAL_RETAIL_INTRO_DATE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d183f7a11ddc17400188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REGIONAL_RETAIL_EXIT_DATE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d193f7a11ddbcc800188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REGIONAL_BRAND_RANGE_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d1a3f7a11ddb76500188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REGIONAL_ARTICLE_STATUS_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d1b3f7a11ddc5d600188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REGION_SELL_IN_QUARTER" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d1c3f7a11dd971a00188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TRANSACTION_MODE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d1d3f7a11ddcf2b00188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="PACKAGE_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70a040f011dd87f20016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="USAGE_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70a140f011dd85260016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ACCOUNT_EXCLUSIVE_FLAG" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">85f984d0d98a11dea31d0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">8e214d1f3f7a11ddbb3000188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70a340f011ddb1380016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_COUNTRY_ART_TIME_PERIOD" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">5a2df89b3f6211dd99c500188b2c67d0</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_COUNTRY_ART_TIME_PERIOD">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5a2df89c3f6211dd9d2900188b2c67d0</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">5a2df89f3f6211dd99a900188b2c67d0</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5a2df8a13f6211dd92db00188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="COUNTRY_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70a940f011ddafb30016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5a2df8a23f6211ddc39e00188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MILESTONE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5a2df8a53f6211ddb76f00188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MARKETING_FORECAST" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70aa40f011dd9dba0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TRANSACTION_MODE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5a2df8a63f6211ddbf8900188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MARKETING_FORECAST_Q1" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70ab40f011ddc4430016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MARKETING_FORECAST_Q2" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70ac40f011ddc7210016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LOCAL_COUNTRY_ORIGIN" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70ad40f011ddb9930016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="SIZE_SCALE_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70ae40f011dd9d810016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="SOURCING_TYPE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70af40f011dd86d90016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element ref="FACTORY_CODE" minOccurs="0"/>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5a2df8a83f6211dd843800188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70b140f011ddaa9c0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_CUSTOMER_ARTICLE_SELECTION" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac3f3b9911dda16e0016e620ba90</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_CUSTOMER_ARTICLE_SELECTION">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac403b9911ddb7de0016e620ba90</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac433b9911dda5890016e620ba90</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="CUSTOMER_PROD_SELECTN_TYPE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac453b9911ddbbf40016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CUSTOMER_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac463b9911ddc8e20016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac473b9911ddb67c0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="AREA_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac483b9911ddbc280016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac493b9911dd84fa0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MILESTONE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac4a3b9911ddb5160016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ACCOUNT_FORECAST" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac4b3b9911ddaef80016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CUSTOMER_EX_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac4c3b9911dda49e0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TRANSACTION_MODE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac4d3b9911dd921c0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ACCOUNT_RETAIL_INTRO_DATE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac4e3b9911ddcc120016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ACCOUNT_RETAIL_EXIT_DATE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac4f3b9911ddc63b0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="SALES_STATUS_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac503b9911ddc4650016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ACCOUNT_RANGE_PLAN_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70b840f011ddb90b0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ACCOUNT_FORECAST_Q1" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70b940f011ddb6ec0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ACCOUNT_FORECAST_Q2" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">ff1b70ba40f011dd9fce0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac513b9911ddb5eb0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aac543b9911ddc5350016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_ART_COUNTRY_SELECT_SIZES" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">5f2aaca13b9911ddb0100016e620ba90</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_ART_COUNTRY_SELECT_SIZES">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5f2aaca23b9911dda5210016e620ba90</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">5f2aaca53b9911ddb59c0016e620ba90</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aaca73b9911dd81dc0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="COUNTRY_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aaca83b9911dda1df0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="SIZE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aaca93b9911ddca4b0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="COUNTRY_SELECTED_SIZE_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aacaa3b9911ddc40c0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="RR_PRICE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aacab3b9911dda71e0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LIST_PRICE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aacac3b9911dd827f0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CURRENCY_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2aacad3b9911dda8040016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="SIZE_INDEX" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5c03b9911ddc5640016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TECH_INDEX" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5c13b9911ddb89b0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MILESTONE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5c23b9911dda8130016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5c33b9911ddcc720016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TRANSACTION_MODE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5c43b9911dd9d8a0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">3526f0803f7911dd9ee400188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607b0b1240f311ddaae00016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_AREA_ARTICLE_TIME_PERIOD" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5cd3b9911ddafc50016e620ba90</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_AREA_ARTICLE_TIME_PERIOD">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5ce3b9911ddc1d30016e620ba90</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5d13b9911dda4eb0016e620ba90</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="AREA_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5d33b9911dd996e0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5d43b9911ddbaac0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5d53b9911dd88b00016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MILESTONE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5d63b9911dd9acc0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REORDER_ARTICLE_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5d73b9911ddc0c80016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="AREA_ARTICLE_COMMENT" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5d83b9911ddb9860016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LOCAL_ARTICLE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5d93b9911dd88c50016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MARKETING_FORECAST" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5da3b9911dd86530016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="AREA_RETAIL_INTRO_DATE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5de3b9911ddbe980016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="AREA_RETAIL_EXIT_DATE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5df3b9911ddbb660016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ROYALTY_TYPE_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5e13b9911ddc1380016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TARGET_CONSUMER_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5e33b9911dda53d0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="SELL_IN_QUARTER" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5e43b9911ddc18c0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="PRESENTATION_SEQUENCE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5e53b9911dd8ce00016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CATALOGUE_NUMBER" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5e63b9911ddbf360016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LOCAL_ARTICLE_STATUS_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5e73b9911dd9ff30016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CARRY_OVER_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5e83b9911dd8a840016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LOCAL_SIZES" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5e93b9911dd9df40016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="BRAND_RANGE_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5ea3b9911dd87910016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="AREA_COUNTRY_MANAGER" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5ed3b9911ddb6270016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TRANSACTION_MODE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5ee3b9911ddcef10016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CLASSIFICATION" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf5ef3b9911dda8d00016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="AFS_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550040f311ddcd8e0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="US_BUSINESS_UNIT_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550140f311ddbff00016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MERCHANDISING_GROUP_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550240f311ddc8fb0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LOCAL_RANGE_TYPE_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550340f311dd8d6b0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LICENSED_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550440f311dd85e30016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="EXIT_QTR" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf6063b9911dda0610016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="PRIORITY_ARTICLE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550540f311dd9b7c0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CARRY_FORWARD_FLAG" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550640f311dd99f90016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="FIT_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">9fd430d0fd9911ddc00c001d7db64d18</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="SILHOUETTE_CD" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">85fbcec0d98a11dea8c40016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element ref="LEAD_TIME" minOccurs="0"/>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">35293a703f7911ddcedc00188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550840f311ddc8170016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_REGION_ARTICLE_SALES_CHNL" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf6103b9911ddc1c70016e620ba90</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_REGION_ARTICLE_SALES_CHNL">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf6113b9911ddb0350016e620ba90</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf6143b9911dda9360016e620ba90</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf6173b9911ddb26a0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf6183b9911dd88a60016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REGION_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf6193b9911ddcb580016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="REGIONAL_SALES_CHANNEL_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf61a3b9911ddc6240016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf61b3b9911dd83a80016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TRANSACTION_MODE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">5f2cf61c3b9911dd880e0016e620ba90</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">35293a733f7911dda1a600188b2c67d0</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">607d550a40f311dd93890016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_ARTICLE_FOB_PRICE" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">60918a30e00611debd6b0016e690af7a</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_ARTICLE_FOB_PRICE">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">60918a31e00611deb77f0016e690af7a</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">60918a34e00611de81040016e690af7a</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="FOB_TYPE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a35e00611de91680016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CURRENCY_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a36e00611de82760016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="AREA_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a37e00611de974a0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a38e00611deaf6f0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MILESSTONE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a39e00611deaa000016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a3ae00611dec0630016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="PRICE_TYPE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a3be00611dea00d0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="FOB_PRICE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a3ce00611deaee70016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a3de00611decb0b0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">60918a3ee00611deab8a0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_COUNTRY_SALES_PRICE" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">1b074df0e00711dea8c60016e690af7a</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_COUNTRY_SALES_PRICE">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">1b074df1e00711de92600016e690af7a</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">1b074df4e00711dea8a80016e690af7a</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074df5e00711debc890016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074df6e00711deb1c40016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="COUNTRY_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074df7e00711de9d930016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CURRENCY_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074df8e00711deb0fb0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MILESSTONE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074df9e00711dea5130016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="LANDED_COST_PRICE" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074dfae00711deb3860016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="NET_MARGIN" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074dfbe00711de9f290016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element ref="LIST_PRICE" minOccurs="0"/>
												<xsd:element ref="COUNTRY_RETAIL_PRICE" minOccurs="0"/>
												<xsd:element ref="LOCAL_FOB" minOccurs="0"/>
												<xsd:element ref="LOCAL_FOB_CURR" minOccurs="0"/>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074dfce00711dea6e60016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">1b074dfee00711deaaf40016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Statement_SUB_RMA_CUSTOMER_CHNL_ART" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa20e00811dec8f90016e690af7a</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SUB_RMA_CUSTOMER_CHNL_ART">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa21e00811deab320016e690af7a</xsd:appinfo>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="access">
										<xsd:annotation>
											<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa24e00811decc8c0016e690af7a</xsd:appinfo>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="AREA_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa25e00811debded0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="CUSTOMER_CHANNEL_TYPE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa26e00811dec69f0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="TIME_PERIOD_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa27e00811de82430016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="ARTICLE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa28e00811de99060016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="MILESSTONE_CD" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa29e00811de9e9b0016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_DT" type="xsd:date" minOccurs="0">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa2ae00811de91f80016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="XI_STATUS" type="xsd:string">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">4a22fa2ce00811dea1950016e690af7a</xsd:appinfo>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LEAD_TIME" type="xsd:string"/>
	<xsd:element name="FACTORY_CODE" type="xsd:string"/>
	<xsd:element name="LIST_PRICE" type="xsd:string"/>
	<xsd:element name="COUNTRY_RETAIL_PRICE" type="xsd:string"/>
	<xsd:element name="LOCAL_FOB" type="xsd:string"/>
	<xsd:element name="LOCAL_FOB_CURR" type="xsd:string"/>
	<xsd:element name="SUB_RMA_ARTICLE_AREA_SALES_PRICE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ARTICLE_CD"/>
				<xsd:element ref="TIME_PERIOD_CD"/>
				<xsd:element ref="COUNTRY_CD"/>
				<xsd:element ref="CURRENCY_CD"/>
				<xsd:element ref="MILESSTONE_CD"/>
				<xsd:element ref="LANDED_COST_PRICE" minOccurs="0"/>
				<xsd:element ref="NET_MARGIN" minOccurs="0"/>
				<xsd:element ref="LIST_PRICE" minOccurs="0"/>
				<xsd:element ref="COUNTRY_RETAIL_PRICE" minOccurs="0"/>
				<xsd:element ref="LOCAL_FOB" minOccurs="0"/>
				<xsd:element ref="LOCAL_FOB_CURR" minOccurs="0"/>
				<xsd:element ref="RETAIL_PRICE" minOccurs="0"/>
				<xsd:element ref="XI_DT" minOccurs="0"/>
				<xsd:element ref="XI_STATUS" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ARTICLE_CD" type="xsd:string"/>
	<xsd:element name="TIME_PERIOD_CD" type="xsd:string"/>
	<xsd:element name="COUNTRY_CD" type="xsd:string"/>
	<xsd:element name="CURRENCY_CD" type="xsd:string"/>
	<xsd:element name="MILESSTONE_CD" type="xsd:string"/>
	<xsd:element name="LANDED_COST_PRICE" type="xsd:string"/>
	<xsd:element name="NET_MARGIN" type="xsd:string"/>
	<xsd:element name="XI_DT" type="xsd:string"/>
	<xsd:element name="XI_STATUS" type="xsd:string"/>
	<xsd:element name="RETAIL_PRICE" type="xsd:string"/>
</xsd:schema>