CompositeProductService/Adapter/GetProduct/Shared Resources/Schemas/SPM/SPM_TempSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:infatype="http://www.informatica.com/types/"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="Prod">
		<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod">
			<xs:documentation>Product</xs:documentation>
		</xs:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ARTCL" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL">
						<xs:documentation>Article, Colorway</xs:documentation>
					</xs:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AVERS" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS">
									<xs:documentation>Article Version Information</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="VerId" type="xsd:string" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" infatype:length="100" infatype:type="xsd:string" id="Prod_ARTCL_AVERS_VerId">
												<xs:documentation>Version Identifier</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtChange">
												<xs:documentation>Article Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtMainChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtMainChange">
												<xs:documentation>Article Main Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtSizeChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtSizeChange">
												<xs:documentation>Article Size Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtCompChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtCompChange">
												<xs:documentation>Article Composition Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtCustomsChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtCustomsChange">
												<xs:documentation>Article Customs Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtCustomsBTIChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtCustomsBTIChange">
												<xs:documentation>Article Customs BTI Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtFactoryChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtFactoryChange">
												<xs:documentation>Article Factory Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtDescChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtDescChange">
												<xs:documentation>Article Description Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ColorwayDescChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ColorwayDescChange">
												<xs:documentation>Colorway Description Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SKUChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_SKUChange">
												<xs:documentation>SKU Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtRMHChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArtRMHChange">
												<xs:documentation>Article RMH Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtSeasonChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArticleSeasonChange">
												<xs:documentation>Article Season Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtCostingChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArticleCostingChange">
												<xs:documentation>Article Costing Change,</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtMainMaterialChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AVERS_ArticleMainMaterialChange">
												<xs:documentation>Article Main Material Change, </xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="GrpArtNo" type="NoArtA6">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_GrpArtNo">
									<xs:documentation>Group Article Number, Colorway.GrpArtNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="GrpArtNo1" type="NoArtA6">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_GrpArtNo1">
									<xs:documentation>Group Article Number1, Colorway.GrpArtNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="AltArtNo" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AltArtNo">
									<xs:documentation>Alternate Article Number, Colorway.AltArtNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="OrigArtNo" type="CdXLongA30" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_OrigArtNo">
									<xs:documentation>Original Article Number, Colorway.OrigArtNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="VendorArtNo" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_VendorArtNo">
									<xs:documentation>Vendor Article Number, Colorway.VendorArtNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="BaseArtNo" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_BaseArtNo">
									<xs:documentation>Base Article Number, Colorway.BaseArtNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="GrpMdlNo" type="NoMdlA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_GrpMdlNo">
									<xs:documentation>Group Model Number, Article.GrpMdlNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="OrigMdlNo" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_OrigMdlNo">
									<xs:documentation>Original Model Number, Article.OrigMdlNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="AltMdlNo" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AltMdlNo">
									<xs:documentation>Alternate Model Number, Article.AltMdlNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="WorkingMdlNo" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_WorkingMdlNo">
									<xs:documentation>Working Model Number, Article.WorkingMdlNo</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="LicensedVendor" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_LicensedVendor">
									<xs:documentation>Licensed Vendor, Article.LicensedVendor</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="MacroMdlCd" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_MacroMdlCd">
									<xs:documentation>Macro Model Code, Article.MacroMdlCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ArtType" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ArtType">
									<xs:documentation>Article Type, Colorway.ArtType</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ArtCreationSeason" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ArtCreationSeason">
									<xs:documentation>Article Creation Season, Colorway.ArtCreationSeason</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ArtActiveSeason" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ArtActiveSeason">
									<xs:documentation>Article Active Season, Colorway.ArtActiveSeason</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ArtLifecycle" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ArtLifecycle">
									<xs:documentation>Article Lifecycle, Colorway.ArtLifecycleSts</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ArtLifecycleStsDt" type="DtA8" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ArtLifecycleStsDt">
									<xs:documentation>Article Lifecycle Status Date, Colorway.ArtLifecycleStsDt</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ArtSrcSys" type="CdMedA6" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ArtSrcSys">
									<xs:documentation>Article Source System, Colorway.ArtSrcSys</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="BrandGrp" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_BrandGrp">
									<xs:documentation>Brand Group, Article.BrandGrp</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Brand" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Brand">
									<xs:documentation>Brand, Article.Brand</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="SportsCat" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_SportsCat">
									<xs:documentation>Sports Category, Article.SportsCat</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ProdDiv" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ProdDiv">
									<xs:documentation>Product Division, Article.ProdDiv</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ProdGrp" type="CdShortA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ProdGrp">
									<xs:documentation>Product Group, Article.ProdGrp</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ProdType" type="CdShortA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ProdType">
									<xs:documentation>Product Type, Article.ProdType</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="MktgDiv" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_MktgDiv">
									<xs:documentation>Marketing Division, Colorway.MktgDiv</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="BusSeg" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_BusSeg">
									<xs:documentation>Business Segment, Colorway.BusSeg</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="CorpMktgLine" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_CorpMktgLine">
									<xs:documentation>Corporate Marketing Line, Article.CorpMktgLine</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="CatMktgLine" type="CdShortA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_CatMktgLine">
									<xs:documentation>Category Marketing Line, Article.CatMktgLine</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="TechConcept" type="MVDelimTxt" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_TechConcept">
									<xs:documentation>Technology Concept, Article.TechConcept</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="RoyaltyContract1" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_RoyaltyContract1">
									<xs:documentation>Royalty Contract 1, Article.RoyaltyContract1</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="RoyaltyContract2" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_RoyaltyContract2">
									<xs:documentation>Royalty Contract 2, Article.RoyaltyContract2</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="RoyaltyContract3" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_RoyaltyContract3">
									<xs:documentation>Royalty Contract 3, Article.RoyaltyContract3</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="BaseUnit" type="CdShortA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_BaseUnit">
									<xs:documentation>Base Unit</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="OutsoleToolingNo" type="CdLongA8" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_OutsoleToolingNo">
									<xs:documentation>Outsole Tooling Number</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="OutsoleToolingDesc" type="DescMedA40" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_OutsoleToolingDesc">
									<xs:documentation>Outsole Tooling Description</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Color1" type="CdMedA4" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Color1">
									<xs:documentation>Color 1, Colorway.Color1</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Color2" type="CdMedA4" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Color2">
									<xs:documentation>Color 2, Colorway.Color2</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Color3" type="CdMedA4" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Color3">
									<xs:documentation>Color 3, Colorway.Color3</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Color4" type="CdMedA4" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Color4">
									<xs:documentation>Color 4, Colorway.Color4</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="NRFColorCd" type="CdShortA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_NRFColorCd">
									<xs:documentation>NRF Color Code, Colorway.NRFColorCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="AltColorCd" type="DescMedA40" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AltColorCd">
									<xs:documentation>Alternate Color Code, Colorway.AltColorCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="GraphicCd" type="CdLongA10" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_GraphicCd">
									<xs:documentation>Graphic Code, Colorway.GraphicCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="GraphicDesc" type="DescMedA40" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_GraphicDesc">
									<xs:documentation>Graphic Description, Colorway.GraphicDesc</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="AgeGrp" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AgeGrp">
									<xs:documentation>Age Group, Colorway.AgeGrp</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Gender" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Gender">
									<xs:documentation>Gender, Article.Gender</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="UserCdBabies" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_UserCdBabies">
									<xs:documentation>USer Code Babies, Model.UserCdBabies</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="UserCdChildren" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_UserCdChildren">
									<xs:documentation>User Code Children, Model.UserCdChildren</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="UserCdGirls" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_UserCdGirls">
									<xs:documentation>User Code Girls, Model.UserCdGirls</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="UserCdBoys" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_UserCdBoys">
									<xs:documentation>User Code Boys,Model.UserCdBoys</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="UserCdMen" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_UserCdMen">
									<xs:documentation>User Code Men, Model.UserCdMen</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="UserCdLadies" type="CdA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_UserCdLadies">
									<xs:documentation>User Code Ladies , Model.UserCdLadies</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="OrdLockedInd" type="IndYesNoA1" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_OrdLockedInd">
									<xs:documentation>Order Locked Indicator,Colorway.OrdLockedInd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="DevOrg" type="CdMedA4" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_DevOrg">
									<xs:documentation>Development Organization, Article.DevOrg</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="DevLocn" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_DevLocn">
									<xs:documentation>Development Location, Article.DevLocn</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="QtyUnit" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_QtyUnit">
									<xs:documentation>Quantity Unit, Article.QtyUnit</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="OutPkgQty" type="IntA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_OutPkgQty">
									<xs:documentation>Outer Package Quantity, Article.OutPkgQty</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="MtrlTech" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_MtrlTech">
									<xs:documentation>Material Technology, Article.MtrlTech</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="PictogramCompCd" type="CdXLongA18" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_PictogramCompCd">
									<xs:documentation>Pictogram Composition Code, Article.PictogramCompCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="UpperMainMtrl" type="MVDelimTxt" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_UpperMainMtrl">
									<xs:documentation>Upper Main Material, Colorway.UpperMainMtrl</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="LiningMainMtrl" type="MVDelimTxt" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_LiningMainMtrl">
									<xs:documentation>Lining Main Material, Colorway.LiningMainMtrl</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="InSoleMainMtrl" type="MVDelimTxt" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_InSoleMainMtrl">
									<xs:documentation>Inner Sole Main Material, Colorway.InSoleMainMtrl</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="OutSoleMainMtrl" type="MVDelimTxt" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_OutSoleMainMtrl">
									<xs:documentation>Outer Sole Main Material, Colorway.OutSoleMainMtrl</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="SizePage" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_SizePage">
									<xs:documentation>Size Page, </xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="SrcSizeScale" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_SrcSizeScale">
									<xs:documentation>Sourcing Size Scale, </xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="SrcSampleSizeCd2" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_SrcSampleSizeCd2">
									<xs:documentation>Sourcing Sample Size Code 2, </xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="SrcSampleSizeCd3" type="CdA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" infatype:length="3" infatype:type="CdA2" id="Prod_ARTCL_SrcSampleSizeCd3">
									<xs:documentation>Sourcing Sample Size Code 3, </xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="LocalSizeCountry" type="CdA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_LocalSizeCountry">
									<xs:documentation>Local Size Country</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="LocalSampleSize" type="CdA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_LocalSampleSize">
									<xs:documentation>Local Sample Size</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="LocalSizeList" type="CdA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_LocalSizeList">
									<xs:documentation>Local Size List</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="LocalSizeRange" type="CdA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_LocalSizeRange">
									<xs:documentation>Local Size Range</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ProdSet" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ProdSet">
									<xs:documentation>Product Set, Article.ProdSet</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ICGSCode" type="CdLongA10" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ICGSCode">
									<xs:documentation>ICGS Code, Article.ICGSCode</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ProdDescEN" type="DescShortA30" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ProdDescEN">
									<xs:documentation>Product Description EN, </xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ColorwayShortDescEN" type="DescShortA25" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ColorwayShortDescEN">
									<xs:documentation>Colorway Short Description EN, </xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ColorwayLongDescEN" type="DescMedA45" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ColorwayLongDescEN">
									<xs:documentation>Colorway Long Description EN, </xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="SecondaryColorwayDescEN" type="NmLongA60" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_SecondaryColorwayDescEN">
									<xs:documentation>Secondary Colorway Description EN,Colorway.SecondaryColorwayDescEN</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="TgtMtrlCd" type="CdShortA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_TgtMtrlCd">
									<xs:documentation>Target Material Code, Article.TgtMtrlCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="TgtSrcCd" type="CdShortA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_TgtSrcCd">
									<xs:documentation>Target Sourcing Code, Article.TgtSrcCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="TgtMtrlTech" type="CdA2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_TgtMtrlTech">
									<xs:documentation>Target Material Technology, Model.TgtMtrlTech</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="AllocCatCd" type="TxtXLongA120" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AllocCatCd">
									<xs:documentation>Allocation Category Code, Article.AllocCatCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ProdSpecialityCd" type="MVDelimTxt" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ProdSpecialityCd">
									<xs:documentation>Product Speciality Code, ProdSpecialityCd</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="PDUOM" type="CdShortA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_PDUOM">
									<xs:documentation>Product Dimension UOM, Article.PDUOM</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Length" type="Num8Pre2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Length">
									<xs:documentation>Length, Article.Length</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Width" type="Num8Pre2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Width">
									<xs:documentation>Width, Article.Width</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Height" type="Num8Pre2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Height">
									<xs:documentation>Height, Article.Height</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="PDUOV" type="CdShortA3" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_PDUOV">
									<xs:documentation>Product Dimension UOV, Article.PDUOV</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Volume" type="Num8Pre2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Volume">
									<xs:documentation>Volume, Article.Volume</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="Weight" type="Num8Pre2" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_Weight">
									<xs:documentation>Weight, Article.Weight</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ConsumerBenefit" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ConsumerBenefit">
									<xs:documentation>Consumer Benefit, Model.ConsumerBenefit</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="FeaturesandBenefits" type="TxtXLongA2000" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_FeaturesandBenefits">
									<xs:documentation>Features and Benefits, Model.FeaturesandBenefits</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="KeyCategory" type="CdMedA5" minOccurs="0">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_KeyCategory">
									<xs:documentation>Key category, Colorway.KeyCategory</xs:documentation>
								</xs:annotation>
							</xsd:element>
							<xsd:element name="ALSIZ" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ">
									<xs:documentation>Size</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SrcSizeCd2" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_SrcSizeCd2">
												<xs:documentation>Sourcing Size Code 2, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SrcSizeCd3" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_SrcSizeCd3">
												<xs:documentation>Sourcing Size Code 3, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="Placeholder3" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_Placeholder">
												<xs:documentation>Place Holder, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="FeasInd" type="IndYesNoA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_FeasInd">
												<xs:documentation>Feasible Indicator, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ProdWgt" type="MeasN7">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_ProdWgt">
												<xs:documentation>Product Weight</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="InPkg" type="CdLongA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_InPkg">
												<xs:documentation>Inner Package, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="InPkgLen" type="MeasN5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_InPkgLen">
												<xs:documentation>Inner Package Length, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="InPkgWid" type="MeasN5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_InPkgWid">
												<xs:documentation>Inner Package Width, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="InPkgHgt" type="MeasN5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_InPkgHgt">
												<xs:documentation>Inner Package Height, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="InPkgWgt" type="MeasN7" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_InPkgWgt">
												<xs:documentation>Inner Package Weight, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="OutPkgQty" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_OutPkgQty">
												<xs:documentation>Outer Package Quantity, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="OutPkg" type="CdLongA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_OutPkg">
												<xs:documentation>Outer Package, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="OutPkgLen" type="MeasN5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_OutPkgLen">
												<xs:documentation>Outer Package Length, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="OutPkgWid" type="MeasN5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_OutPkgWid">
												<xs:documentation>Outer Package Width, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="OutPkgHgt" type="MeasN5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_OutPkgHgt">
												<xs:documentation>Outer Package Height, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="OutPkgWgt" type="MeasN7" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALSIZ_OutPkgWgt">
												<xs:documentation>Outer Package Weight, </xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ACOMP" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACOMP">
									<xs:documentation>Article Composition, Colorway.ArtComp</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACOMP_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ImportCountry" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACOMP_ImportCountry">
												<xs:documentation>Import Country, ArtComp.ImportCountry</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="CustomsCompTxtEN" type="TxtXLongA250" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACOMP_CustomsCompTxtEN">
												<xs:documentation>Customs Composition Text EN, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PictogramCompTxtEN" type="TxtXLongA120" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACOMP_PictogramCompTxtEN">
												<xs:documentation>Pictogram Composition TextEN, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ProtectedAnimalInd" type="IndYesNoA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACOMP_ProtectedAnimalInd">
												<xs:documentation>Protected Animal Indicator, ArtComp.ProtectedAnimalInd</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="AnimalType" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACOMP_AnimalType">
												<xs:documentation>Animal Type, ArtComp.AnimalType</xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ACUST" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST">
									<xs:documentation>Article Customs, Colorway.ArtCustoms</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ImportCountry" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_ImportCountry">
												<xs:documentation>Import Country, ArtCustoms.ImportCountry</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ProdPartNo" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_ProdPartNo">
												<xs:documentation>Product Part Number, ArtCustoms.ProdPartNo</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SrcSizeScale" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_SrcSizeScale">
												<xs:documentation>Sourcing Size Scale, ArtCustoms.SrcSizeSplit</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SrcSizeCd2" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_SrcSizeCd2">
												<xs:documentation>Sourcing Size Code 2, ArtCustoms.SrcSizeSplit</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SrcSizeCd3" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_SrcSizeCd3">
												<xs:documentation>Sourcing Size Code 3, ArtCustoms.SrcSizeSplit</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="Placeholder1" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_Placeholder1">
												<xs:documentation>Place Holder1 </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="Placeholder2" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_Placeholder2">
												<xs:documentation>Place Holder2 </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="Customs_Number" type="NoCustomsA17">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_Customs_Number">
												<xs:documentation>Customs Number, ArtCustoms.CustomsNumber</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="DutyQualifier" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_DutyQualifier">
												<xs:documentation>Duty Qualifier, ArtCustoms.DutyQualifier</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PkgCompCountry" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_PkgCompCountry">
												<xs:documentation>Package Component Country, ArtCustoms.PkgCompCountry</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PkgCompCurr" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_PkgCompCurr">
												<xs:documentation>Package Component Currency, ArtCustoms.PkgCompCurr</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PkgCompDesc" type="DescMedA40" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_PkgCompDesc">
												<xs:documentation>Package Component Description, ArtCustoms.PkgCompDesc</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PkgCompVal" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_PkgCompVal">
												<xs:documentation>Package Component Value, ArtCustoms.PkgCompVal</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PkgCompPercentage" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_PkgCompPercentage">
												<xs:documentation>Package Component Percentage, ArtCustoms.PkgCompPercentage</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="LDPFlag" type="IndYesNoA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACUST_LDPFlag">
												<xs:documentation>LDP Flag, ArtCustoms.LDPFlag</xs:documentation>
												<xs:documentation/>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ACBTI" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACBTI_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ImportCountry" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACBTI_ImportCountry">
												<xs:documentation>Import Country,ArtBTI.ImportCountry</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="BTINumber" type="DescMedA40" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACBTI_BTINumber">
												<xs:documentation>BTI Number, ArtBTI.BTINumber</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="BTIValidFrom" type="DtA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACBTI_BTIValidFrom">
												<xs:documentation>BTI Valid From, ArtBTI.BTIValidFrom</xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ADESC" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ADESC">
									<xs:documentation>Article Description ML</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ADESC_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="LangCd" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ADESC_LangCd">
												<xs:documentation>Language Code</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtDesc" type="DescShortA30" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ADESC_ArtDesc">
												<xs:documentation>Article Description</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="MdlDesc" type="DescShortA30" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ADESC_MdlDesc">
												<xs:documentation>Model Description</xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ACWDL" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACWDL">
									<xs:documentation>Colorway Description ML</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACWDL_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="LangCd" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACWDL_LangCd">
												<xs:documentation>Language Code</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ColorwayShortDesc" type="DescShortA25" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACWDL_ColorwayShortDesc">
												<xs:documentation>Colorway Short Description</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ColorwayLongDesc" type="DescMedA45" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ACWDL_ColorwayLongDesc">
												<xs:documentation>Colorway Long Description</xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ALLBL" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_Art_ArtLbl">
									<xs:documentation>Article Label, </xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALLBL_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="Lbl" type="CdLongA10" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALLBL_Lbl">
												<xs:documentation>Label, ArtLbl.Lbl</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="LblCnt" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALLBL_LblCnt">
												<xs:documentation>Label Count, ArtLbl.LblCnt</xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ASEAS" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS">
									<xs:documentation>Article Season</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SeasonCode" type="CdMedA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_SeasonCode">
												<xs:documentation>Season Code, ColorwaySeason.SeasonCode</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SeasonChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_SeasonChange">
												<xs:documentation>Season Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SeasonMainChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_SeasonMainChange">
												<xs:documentation>Season Main Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtFactoryChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ArtFactoryChange">
												<xs:documentation>Article Factory Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="MktgFC" type="IntA10" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_MktgFC">
												<xs:documentation>Marketing Forecast</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PlaceholderStyleCount" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_PlaceholderStyleCount">
												<xs:documentation>Placeholder Stylecount</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ProductPlaceholder" type="IndYesNoA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ProductPlaceholder">
												<xs:documentation>Product Placeholder</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ReplenishmentFlag" type="IndYesNoA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ReplenishmentFlag">
												<xs:documentation>Replenishment Flag</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="Designer" type="TxtXLongA120" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_Designer">
												<xs:documentation>Designer</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="Developer" type="TxtXLongA120" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_Developer">
												<xs:documentation>Developer</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="LODeveloper" type="TxtXLongA120" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_LODeveloperr">
												<xs:documentation>LO Developer</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ProductManager" type="TxtXLongA120" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ProductManager">
												<xs:documentation>Product Manager</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="CADPatternMaker" type="TxtXLongA120" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_CADPatternMaker">
												<xs:documentation>CAD Pattern Maker</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="DirectDevelopment" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_DirectDevelopment">
												<xs:documentation>Direct Development, DirectDevelopment</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="TransportationleadTime" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_TransportationleadTime">
												<xs:documentation>Transportation Lead Time, TransportationleadTime</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SalesLine" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_SalesLine">
												<xs:documentation>Sales Line, ColorwaySeason.SalesLine</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ConsumerSeg" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ConsumerSeg">
												<xs:documentation>Consumer Segment, ColorwaySeason.ConsumerSeg</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PriceSeg" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_PriceSeg">
												<xs:documentation>Price Segment, ColorwaySeason.PriceSeg</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SalesRgn" type="MVDelimTxt" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_SalesRgn">
												<xs:documentation>Sales Region, ColorwaySeason.SalesRgn</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="DevType" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_DevType">
												<xs:documentation>Development Type, ColorwaySeason.DevType</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="DistChan" type="MVDelimTxt" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_DistChan">
												<xs:documentation>Distribution Channel, ColorwaySeason.DistChan</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SpecialUsg" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_SpecialUsg">
												<xs:documentation>Special Usage, ColorwaySeason.SpecialUsg</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ProdLine" type="CdMedA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ProdLine">
												<xs:documentation>Product Line, ColorwaySeason.ProdLine</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="BusUnit" type="CdMedA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_BusUnit">
												<xs:documentation>Business Unit ,ColorwaySeason.BusUnit</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="FirstExFactoryDt" type="DtA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_FirstExFactoryDt">
												<xs:documentation>First Ex Factory Date,ColorwaySeason.FirstExFactoryDt</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="LastExFactoryDt" type="DtA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_LastExFactoryDt">
												<xs:documentation>Last Ex Factory Date, ColorwaySeason.LastExFactoryDt</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PrdnLeadTm" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_PrdnLeadTm">
												<xs:documentation>Production Lead Time, ColorwaySeason.PrdnLeadTm</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RetailIntroDt" type="DtA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_RetailIntroDt">
												<xs:documentation>Retail Intro Date, ColorwaySeason.RetailIntroDt</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RetailExitDt" type="DtA8">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_RetailExitDt">
												<xs:documentation>Retail Exit Date, ColorwaySeason.RetailExitDt</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ProdLifecycleSeasonSts" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ProdLifecycleSeasonSts">
												<xs:documentation>Production Lifecycle Season Status, ColorwaySeason.ProdLifecycleSeasonSts</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="PurOrdMinQty" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_PurOrdMinQty">
												<xs:documentation>Purchase Order Minimum Quantity,ColorwaySeason.PurOrdMinQty</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="QuarterCd" type="CdLongA10" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_QuarterCd">
												<xs:documentation>Quarter Code, ColorwaySeason.QuarterCd</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="TimelineCd" type="CdMedA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_TimelineCd">
												<xs:documentation>Timeline Code, ColorwaySeason.TimelineCd</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="TargetFOB" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_TargetFOB">
												<xs:documentation>Target FOB, ColorwaySeason.TargetFOB</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="TargetFOBCurr" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_TargetFOBCurr">
												<xs:documentation>Target FOB Currency, ColorwaySeason.TargetFOBCurr</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="TargetRRP" type="IntA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_TargetRRP">
												<xs:documentation>Recommended Retail Price, ColorwaySeason.TargetRRP</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="TargetRRPCurr" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_TargetRRPCurr">
												<xs:documentation>Target RRP Currency, ColorwaySeason.TargetRRPCurr</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="BusMdlAttCd" type="CdMedA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_BusMdlAttCd">
												<xs:documentation>Business Model Attribute Code, ColorwaySeason.BusMdlAttCd</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="MktClassificationCd" type="CdMedA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_MktClassificationCd">
												<xs:documentation>Market Classification Code, ColorwaySeason.MktClassificationCd</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="FulfillmentMdlCd" type="CdMedA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_FulfillmentMdlCd">
												<xs:documentation>Fullfillment Model Code, ColorwaySeason.FulfillmentMdlCd</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="BuyReadyDt" type="DtA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_BuyReadyDt">
												<xs:documentation>Buy Ready Date, ColorwaySeason.BuyReadyDt</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="BuyReadySetDt" type="DtA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_BuyReadySetDt">
												<xs:documentation>Buy Ready Set Date, ColorwaySeason.BuyReadySetDt</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RevisedBuyReadyDt" type="DtA8" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_RevisedBuyReadyDt">
												<xs:documentation>Revised Buy Ready Date, ColorwaySeason.RevisedBuyReadyDt</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ArtSeasonSts" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ArtSeasonSts">
												<xs:documentation>Article Seson Status, ColorwaySeason.ArtSeasonSts</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="MdlSeasonSts" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_MdlSeasonSts">
												<xs:documentation>MdlSeasonSts</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SeasonState" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_SeasonState">
												<xs:documentation>Season State, ColorwaySeason.SeasonState</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SMUCustomer" type="MVDelimTxt" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_SMUCustomer">
												<xs:documentation>SMU Customer, ColorwaySeason.SMUCustomer</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ColorwayDelayReason" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_ColorwayDelayReason">
												<xs:documentation>Colorway Delay Reason, ColorwaySeason.ColorwayDelayReason</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="AMMAT" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="GrpArtNo" type="NoArtA6">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AMMAT_GrpArtNo">
															<xs:documentation>Group Article Number</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="SeasonCode" type="CdMedA5" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AMMAT_SeasonCode">
															<xs:documentation>Season Code, ColorwaySeason.SeasonCode</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="MtrlRefNo" type="DescShortA20" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AMMAT_MtrlRefNo">
															<xs:documentation>Material Reference No, ArticleMainMtrl.MtrlRefNo</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="ColorOverwriteInd" type="IndYesNoA1" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AMMAT_ColorOverwriteInd">
															<xs:documentation>Color Overwrite Indicator, ColorOverwriteInd</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="MtrlSupplier" type="CdMedA6" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AMMAT_MtrlSupplier">
															<xs:documentation>Material Supplier, MtrlSupplier</xs:documentation>
														</xs:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="AFACT" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="GrpArtNo" type="NoArtA6">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_GrpArtNo">
															<xs:documentation>Group Article Number</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="SeasonCode" type="CdMedA5" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_SeasonCode">
															<xs:documentation>Season Code, ColorwaySeason.SeasonCode</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="ArtCostingChange" type="CdA1" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ArtCostingChange">
															<xs:documentation>Article Costing Change</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="FactoryPriorityInd" type="CdA1" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_FactoryPriorityInd">
															<xs:documentation>Factory Priority Indicator,ArtFactory.Factory Priority Indicator</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="FactoryCd" type="CdMedA6" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_FactoryCd">
															<xs:documentation>Factory Code,ArtFactory.Factory Code</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="DevFactInd" type="IndYesNoA1" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_DevFactInd">
															<xs:documentation>Development Factory Indicator, ArtFactory.DevFactInd</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="PrdnLeadTm" type="IntA5" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_PrdnLeadTm">
															<xs:documentation>Production Lead Time, ArtFactory.PrdnLeadTm</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="ShortLeadTm" type="IntA5" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ShortLeadTm">
															<xs:documentation>Short Lead Time, ArtFactory.ShortLeadTm</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="MinMdlQty" type="IntA10" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_AFACT_MinMdlQty">
															<xs:documentation>Minimum Article Quantity, ArtFactory.MinArtQty</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="MinArtQty" type="IntA10" minOccurs="0">
														<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_MinArtQty">
															<xs:documentation>Minimum Article Quantity, ArtFactory.MinArtQty</xs:documentation>
														</xs:annotation>
													</xsd:element>
													<xsd:element name="ACOST" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="GrpArtNo" type="NoArtA6">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_GrpArtNo">
																		<xs:documentation>Group Article Number</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="ArtCostingChange" type="CdA1" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_ArtCostingChange">
																		<xs:documentation>Article Costing Change,</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="SeasonCode" type="CdMedA5" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_SeasonCode">
																		<xs:documentation>Season Code, ColorwaySeason.SeasonCode</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="FactoryCd" type="CdMedA6" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_FactoryCd">
																		<xs:documentation>Factory Code,ArtFactory.Factory Code</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="ArtFOB" type="Num8Pre2" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_ArtFOB">
																		<xs:documentation>Article FOB, ArticleCosting.ArtFOB</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="FOBCurr" type="CdShortA3" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_FOBCurr">
																		<xs:documentation>FOB Currency, ArticleCosting.FOBCurr</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="PricingMilestone" type="CdLongA10" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_PricingMilestone">
																		<xs:documentation>Pricing Milestone, ArticleCosting.PricingMilestone</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="PriceType" type="CdShortA3" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_PriceType">
																		<xs:documentation>Price Type, ArticleCosting.PriceType</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="SrcSizCd2" type="CdA2" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_SrcSizCd2">
																		<xs:documentation>Sourcing Size Code 2, ArticleCosting.SrcSizCd2</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="SrcSizCd3" type="CdShortA3" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_SrcSizCd3">
																		<xs:documentation>Sourcing Size Code 3, ArticleCosting.SrcSizCd3</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="FOBValidFrom" type="DtA8" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_FOBValidFrom">
																		<xs:documentation>FOB Valid From,ArticleCosting.FOBValidFrom</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="FOBValidTo" type="DtA8" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_FOBValidTo">
																		<xs:documentation>FOB Valid To, ArticleCosting.FOBValidTo</xs:documentation>
																	</xs:annotation>
																</xsd:element>
																<xsd:element name="Confirmed" type="IndYesNoA1" minOccurs="0">
																	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASEAS_AFACT_ACOST_Confirmed">
																		<xs:documentation>Confirmed, ArticleCosting.Confirmed</xs:documentation>
																	</xs:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ASKUS" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS">
									<xs:documentation>SKU, SKU</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SrcSizeScale" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_SrcSizeScale">
												<xs:documentation>Sourcing Size Scale, </xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SKUChange" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_SKUChange">
												<xs:documentation>SKU Change</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SrcSizeCd2" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_SrcSizeCd2">
												<xs:documentation>Sourcing Size Code 2, SKU.SrcSize</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="SrcSizeCd3" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_SrcSizeCd3">
												<xs:documentation>Sourcing Size Code 3, SKU.SrcSize</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="LocalSizeCountry" type="CdA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_LocalSizeCountry">
												<xs:documentation>Local Size Country</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="LocalSize" type="CdA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_LocalSize">
												<xs:documentation>Local Size</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="EANNo" type="NoEANA13" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_EANNo">
												<xs:documentation>EAN No, SKU.EANNo</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="UPCNo" type="NoUPCA12" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_UPCNo">
												<xs:documentation>UPC No, SKU.UPCNo</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="FeasInd" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_FeasInd">
												<xs:documentation>Feasible Indicator, SKU.FeasInd</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="ActiveInd" type="IndYesNoA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ASKUS_ActiveInd">
												<xs:documentation>Active Indicator, SKU.ActiveInd</xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ALRMH" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH">
									<xs:documentation>RMH,RMH</xs:documentation>
								</xs:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="GrpArtNo" type="NoArtA6">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_GrpArtNo">
												<xs:documentation>Group Article Number</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RMHMktDiv" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RMHMktDiv">
												<xs:documentation>RMH Marketing Division</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RMHProdDiv" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RMHProdDiv">
												<xs:documentation>RMH Product Division</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RMHGender" type="CdA1" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RMHGender">
												<xs:documentation>RMH Gender</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RMHCategory" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RMHCategory">
												<xs:documentation>RMH Category</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RMHProdType" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RMHProdType">
												<xs:documentation>RMH ProductType</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RetailDept" type="CdA2" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RetailDept">
												<xs:documentation>Retail Department</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RetailSubDept" type="CdShortA3" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RetailSubDept">
												<xs:documentation>Retail Sub Department</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RetailClass" type="CdMedA5" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RetailClass">
												<xs:documentation>Retail Class</xs:documentation>
											</xs:annotation>
										</xsd:element>
										<xsd:element name="RetailSubClass" type="CdLongA7" minOccurs="0">
											<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Prod_ARTCL_ALRMH_RetailSubClass">
												<xs:documentation>Retail Sub Class</xs:documentation>
											</xs:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Header">
		<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Header">
			<xs:documentation>Header</xs:documentation>
		</xs:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="nulltag1" type="CdA1" minOccurs="0"/>
				<xsd:element name="Sender" type="CdMedA6">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Header_Sender">
						<xs:documentation>Sender</xs:documentation>
					</xs:annotation>
				</xsd:element>
				<xsd:element name="SeqNumber" type="SequenceA40" minOccurs="0">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Header_SeqNumber">
						<xs:documentation>SeqNumber</xs:documentation>
					</xs:annotation>
				</xsd:element>
				<xsd:element name="Priority" type="CdA1" minOccurs="0">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Header_Priority">
						<xs:documentation>Priority</xs:documentation>
					</xs:annotation>
				</xsd:element>
				<xsd:element name="PublishingType" type="CdA2" minOccurs="0">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Header_PublishingType">
						<xs:documentation>PublishingType</xs:documentation>
					</xs:annotation>
				</xsd:element>
				<xsd:element name="MessageType" type="DescShortA30" minOccurs="0">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Header_MessageType">
						<xs:documentation>Message Type</xs:documentation>
					</xs:annotation>
				</xsd:element>
				<xsd:element name="TargetGroup" type="DescShortA30" minOccurs="0">
					<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Header_TargetGroup">
						<xs:documentation>TargetGroup</xs:documentation>
					</xs:annotation>
				</xsd:element>
				<xsd:element name="XSDVer" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProductMaster">
		<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema" id="ProductMaster">
			<xs:documentation>ProductMaster</xs:documentation>
		</xs:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Header"/>
				<xsd:element ref="Prod"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="Num8Pre2">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IndBL">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="TxtXLongA2000">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasN7">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasN5">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TxtXLongA250">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NoCustomsA17">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntA5">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdA3">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:minLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DescShortA25">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdXLongA30">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NoMdlA5">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:minLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdMedA5">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NoEANA13">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NoUPCA12">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:minLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdLongA7">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="7"/>
			<xsd:minLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DescMedA45">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NmLongA60">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TxtXLongA120">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DescShortA30">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NoArtA6">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdXLongA18">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MVDelimTxt">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdLongA8">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DescMedA40">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DtA8">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:minLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdShortA2">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdShortA3">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntA10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DescShortA20">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdMedA4">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:minLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdLongA10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IndYesNoA1">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdA1">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdMedA6">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:minLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SequenceA40">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:minLength value="26"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CdA2">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DtTmA14">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
			<xsd:minLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>