CompositeProductService/Adapter/GetProduct/Shared Resources/Schemas/CDM/SharedObjects/SharedObjects_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Richard Anderton (TIBCO) -->
<xs:schema elementFormDefault="qualified" targetNamespace="http://adidasGroup.com/schema/cdm/sharedObjects/v0" xmlns:sho="http://adidasGroup.com/schema/cdm/sharedObjects/v0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="DOM_NUM_10">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_CHAR_3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_CHAR_1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
   Normalized string is a string that does not contain the carriage return (#xD), line feed (#xA) nor tab (#x9) characters.
   -->
	<xs:simpleType name="DOM_MiddleText">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_LONGTEXT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_CNTP">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_CHAR_10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_Date">
		<xs:restriction base="xs:dateTime">
     </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_CHAR_30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
   Article no, matnr is the same
   -->
	<xs:simpleType name="DOM_MATNR">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_NUM_11_2">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="11"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_SHORT_TEXT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_Prole">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_CHAR_2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_NUM_15_3">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="15"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_CURRENCY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_CHAR_4">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_NUM_5">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOM_Time">
		<xs:restriction base="xs:time">
     </xs:restriction>
	</xs:simpleType>
	<xs:element name="HandlingUnitHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HandlingUnitNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_SHORT_TEXT"/>
				<xs:element name="ExternalHandlingUnit" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
				<xs:element name="ShippmentNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="WareHouseTrackingNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="ParcelTrackingNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="MeansOfTransportType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="MeansOfTransportDesc" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
				<xs:element name="TotalVolume" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_15_3"/>
				<xs:element name="TotalWeight" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_15_3"/>
				<xs:element name="NetWeight" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_15_3"/>
				<xs:element name="VolumeUnit" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="WeightUnit" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="Length" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_15_3"/>
				<xs:element name="Width" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_15_3"/>
				<xs:element name="Height" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_15_3"/>
				<xs:element name="Quantity" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_15_3"/>
				<xs:element name="PackingMaterialType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HandlingUnitItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HandlingUnitNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_SHORT_TEXT"/>
				<xs:element name="HandlingUnitItemNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<!--
            Unique identifier of the order as provided by the system that first accepted the order.
            -->
				<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentItem" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentLine" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ArticleNo" maxOccurs="1" minOccurs="0" type="sho:DOM_MATNR"/>
				<xs:element name="CartonQuantity" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_10"/>
				<xs:element name="SourcingSizeCd3" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="SalesSizeDescription" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="CustomsStatus" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="CountryOfOrigin" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="LVS_Id" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="StockCategory" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="ReferenceDocument" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessageControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Client" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="MessageNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="MessageType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="BasicType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="Extention" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="Direction" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="ReceiverPort" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ReceiverPartnerType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_2"/>
				<xs:element name="ReceiverPartnerFunction" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="ReceiverPartnerNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ReceiverAddressNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="LogicalMessageVariant" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_3"/>
				<xs:element name="LogicalMessageFunction" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="SenderPort" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="SenderPartnerType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="SenderPartnerFunction" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="SenderPartnerNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="SenderAddressNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ZCOM_SystemId" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ZCOM_TicketNumber" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ZCOM_Destination1" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ZCOM_Destination2" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ZCOM_Subscriber" maxOccurs="1" minOccurs="0" type="sho:DOM_MiddleText"/>
				<xs:element name="ZCOM_Transaction" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ZCOM_Tcode" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartnerMasterdata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentType" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="PartnerNo" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="CountryCode" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
				<xs:element name="ExternalCustomerIdentification" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<!--
            value added tax
            -->
				<xs:element name="VATRegNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="ShipToArea" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<!--
            KNA1-LOCCO
            -->
				<xs:element name="CityCoordinates" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<!--
            KNA1-TELF1
            -->
				<xs:element name="TelephoneNumber" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<!--
            KNA1-TELFX
            -->
				<xs:element name="FaxNumber" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<!--
            KNA1-SPRAS
            -->
				<xs:element name="LanguageKey" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_2"/>
				<!--
            KNA1-PFACH
            -->
				<xs:element name="POBox" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="POBoxPostalCode" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<!--
            KNA1-BBBNR
            -->
				<xs:element name="InternationalLocationNumber1" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_10"/>
				<!--
            KNA1-BBSNR
            -->
				<xs:element name="InternationalLocationNumber2" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_10"/>
				<!--
            KNA1-BUBKZ
            -->
				<xs:element name="ILNCheckDigit" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_10"/>
				<!--
            KNVV-EIKTO
            -->
				<xs:element name="AccountAtCustomer" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<!--
            KNVV-KVGR1
            -->
				<xs:element name="CustomerGroup1" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_3"/>
				<!--
            KNVV-KVGR4
            -->
				<xs:element name="CustomerGroup4" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_3"/>
				<xs:element name="CustomerGroup5" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PaymentCardInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BillingPlanNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="BillingplanItem" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<!--
            CCINS
            -->
				<xs:element name="CardType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="CardTypeDesc" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<!--
            CCNUM
            -->
				<xs:element name="CardNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<!--
            CCFOL
            -->
				<xs:element name="CardSuffix" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="ValidTo" maxOccurs="1" minOccurs="0" type="sho:DOM_Date"/>
				<xs:element name="ValidFrom" maxOccurs="1" minOccurs="0" type="sho:DOM_Date"/>
				<!--
            RText
            -->
				<xs:element name="ResultText" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
				<!--
            AUNUM
            -->
				<xs:element name="AuthorizationNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<!--
            AUTRA
            -->
				<xs:element name="AuthorizationReference" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="AuthorizedAmount" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_11_2"/>
				<xs:element name="BillingAmount" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_11_2"/>
				<!--
            CCName
            -->
				<xs:element name="NameOfCardHolder" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
				<xs:element name="PaymentType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PriceCond">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentType" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<!--
            Unique identifier of the order as provided by the system that first accepted the order.
            -->
				<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentItem" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentLine" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<!--
            Condition Type
            -->
				<xs:element name="ConditionType" maxOccurs="1" minOccurs="1" type="sho:DOM_CNTP"/>
				<xs:element name="ConditionValue" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_11_2"/>
				<!--
            currency
            -->
				<xs:element name="ConditionCurrency" maxOccurs="1" minOccurs="0" type="sho:DOM_CURRENCY"/>
				<!--
            PRICINGUNIT
            -->
				<xs:element name="PRICINGUNIT" maxOccurs="1" minOccurs="0" type="sho:DOM_NUM_10"/>
				<!--
            Unit of measure
            -->
				<xs:element name="CONDITIONUNIT" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="ConditionClass" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_3"/>
				<xs:element name="CalculationType" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Texts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentType" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentItem" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentLine" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="TextType" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="LineCount" maxOccurs="1" minOccurs="1" type="sho:DOM_NUM_10"/>
				<xs:element name="Text" maxOccurs="1" minOccurs="0" type="sho:DOM_LONGTEXT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValueAddedServices">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentType" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<!--
            Unique identifier of the order as provided by the system that first accepted the order.
            -->
				<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentItem" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentLine" maxOccurs="1" minOccurs="1" type="sho:DOM_NUM_10"/>
				<xs:element name="VASTYPE" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_1"/>
				<xs:element name="VASCODE" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_3"/>
				<xs:element name="VASCodeDescription" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
				<xs:element name="VASMaterial" maxOccurs="1" minOccurs="0" type="sho:DOM_MATNR"/>
				<xs:element name="VASField1" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="VASField2" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<xs:element name="VASField3" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartnerList">
		<xs:complexType>
			<xs:sequence>
				<!--
            VBPA = Vetriebsbeleg Partner
            -->
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="sho:Partner"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="PK_PTADR">
			<xs:selector xpath="sho:Partner/sho:PartnerAddress"/>
			<xs:field xpath="sho:DocumentType"/>
			<xs:field xpath="sho:DocumentNumber"/>
			<xs:field xpath="sho:DocumentItem"/>
			<xs:field xpath="sho:DocumentLine"/>
			<xs:field xpath="sho:PartnerRole"/>
			<xs:field xpath="sho:PartnerNo"/>
		</xs:key>
		<xs:key name="PK_PTPRN">
			<xs:selector xpath="sho:Partner"/>
			<xs:field xpath="sho:DocumentType"/>
			<xs:field xpath="sho:DocumentNumber"/>
			<xs:field xpath="sho:DocumentItem"/>
			<xs:field xpath="sho:DocumentLine"/>
			<xs:field xpath="sho:PartnerRole"/>
			<xs:field xpath="sho:PartnerNo"/>
		</xs:key>
	</xs:element>
	<xs:element name="Partner">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentType" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentItem" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="DocumentLine" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="PartnerRole" maxOccurs="1" minOccurs="1" type="sho:DOM_Prole"/>
				<xs:element name="PartnerNo" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
				<xs:element name="AddressNumber" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
				<!--
            SADR = Anschrift
            -->
				<xs:element name="PartnerAddress" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentType" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
							<xs:element name="DocumentNumber" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
							<xs:element name="DocumentItem" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
							<xs:element name="DocumentLine" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
							<xs:element name="PartnerRole" maxOccurs="1" minOccurs="1" type="sho:DOM_Prole"/>
							<xs:element name="PartnerNo" maxOccurs="1" minOccurs="1" type="sho:DOM_CHAR_10"/>
							<xs:element name="Title" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<!--
                     KNA1_NAME1
                     -->
							<xs:element name="Name1" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<!--
                     KNA1_NAME2
                     -->
							<xs:element name="Name2" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<!--
                     KNA1_NAME3
                     -->
							<xs:element name="Name3" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<!--
                     KNA1_NAME4
                     -->
							<xs:element name="Name4" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="CareOfName" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="Street2" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="Street3" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="Street" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="HouseNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
							<xs:element name="Street4" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="Street5" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<!--
                     ADRC_CITY2
                     -->
							<xs:element name="District" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="PostCode" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="City" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="CountryCode" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_3"/>
							<xs:element name="CountryDesc" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="RegionCode" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_3"/>
							<xs:element name="StreetAndHouse" maxOccurs="1" minOccurs="0" type="sho:DOM_MiddleText"/>
							<xs:element name="PhoneNo" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_30"/>
							<xs:element name="FaxNo" maxOccurs="1" minOccurs="0" type="sho:DOM_SHORT_TEXT"/>
							<xs:element name="Email" maxOccurs="1" minOccurs="0" type="sho:DOM_MiddleText"/>
							<xs:element name="AccountNumberOfVendor" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
							<xs:element name="ValidationFlag" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
							<xs:element name="AddressIndicator" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_1"/>
							<xs:element name="BuyingGroupMemberShip" maxOccurs="1" minOccurs="0" type="sho:DOM_CHAR_10"/>
							<xs:element name="AddressRemark" maxOccurs="1" minOccurs="0" type="sho:DOM_MiddleText"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TextsList" type="sho:TextsListType">
		<xs:key name="PK_TEXTS">
			<xs:selector xpath="sho:Texts"/>
			<xs:field xpath="sho:DocumentType"/>
			<xs:field xpath="sho:DocumentNumber"/>
			<xs:field xpath="sho:DocumentItem"/>
			<xs:field xpath="sho:DocumentLine"/>
			<xs:field xpath="sho:TextType"/>
			<xs:field xpath="sho:LineCount"/>
		</xs:key>
	</xs:element>
	<xs:element name="PriceCondList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sho:PriceCond"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="PK_PRCND">
			<xs:selector xpath="sho:PriceCond"/>
			<xs:field xpath="sho:DocumentType"/>
			<xs:field xpath="sho:DocumentNumber"/>
			<xs:field xpath="sho:DocumentItem"/>
			<xs:field xpath="sho:DocumentLine"/>
			<xs:field xpath="sho:ConditionType"/>
		</xs:key>
	</xs:element>
	<xs:element name="HandlingUnitItemList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sho:HandlingUnitItem"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="PK_HUITM">
			<xs:selector xpath="sho:HandlingUnitItem"/>
			<xs:field xpath="sho:HandlingUnitNumber"/>
			<xs:field xpath="sho:HandlingUnitItemNumber"/>
		</xs:key>
	</xs:element>
	<xs:element name="HandlingUnitHeaderList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sho:HandlingUnitHeader"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="PK_HUHDR">
			<xs:selector xpath="sho:HandlingUnitHeader"/>
			<xs:field xpath="sho:HandlingUnitNumber"/>
		</xs:key>
	</xs:element>
	<xs:complexType name="TextsListType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="sho:Texts"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
