GESEventTrackingBE/GESEventTrackingBE/SharedResources/Schemas/RequestReply/OrderCntRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.pepsico.com/schemas/practice/Schemas/Schema.xsd5"
	 targetNamespace="http://www.pepsico.com/schemas/practice/Schemas/Schema.xsd5"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="OrderCount">
		<xs:sequence>
			<xs:element name="Handheld" type="xs:string" minOccurs="0"/>
			<xs:element name="Manual" type="xs:string" minOccurs="0"/>
			<xs:element name="TotalCnt" type="xs:string" minOccurs="0"/>
			<xs:element name="TripCnt" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>