GESEventTrackingBE/GESEventTrackingBE/SharedResources/Schemas/RequestReply/ReconciliationRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.pepsico.com/schemas/practice/Schemas/Schema.xsd5"
	 targetNamespace="http://www.pepsico.com/schemas/practice/Schemas/Schema.xsd5"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="OrderReconciliation">
		<xs:sequence>
			<xs:element name="OrdId" type="xs:string" minOccurs="0"/>
			<xs:element name="System" type="xs:string" minOccurs="0"/>
			<xs:element name="CustNum" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>