GESEventTrackingBE/GESEventTrackingBE/SharedResources/Schemas/RequestReply/TripAgingRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.pepsico.com/schemas/practice/Schemas/Schema.xsd5"
	 targetNamespace="http://www.pepsico.com/schemas/practice/Schemas/Schema.xsd5"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="TripMissedSLA">
		<xs:sequence>
			<xs:element name="TripId" type="xs:string" minOccurs="0"/>
			<xs:element name="Age" type="xs:string" minOccurs="0"/>
			<xs:element name="Last_Known_System" type="xs:string" minOccurs="0"/>
			<xs:element name="Last_Known_Time" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>