GESEventTrackingBE/GESEventTrackingBE/SharedResources/Schemas/Common/ExceptionRequest.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.PepsiCo.com/unique/default/namespace/CommonLE"
	 targetNamespace = "http://www.PepsiCo.com/unique/default/namespace/CommonLE"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "RequestHeader.xsd"/>
	<xsd:element name = "ExceptionRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Header"/>
				<xsd:element ref = "Category"/>
				<xsd:element ref = "Type"/>
				<xsd:element ref = "Severity"/>
				<xsd:element ref = "Code"/>
				<xsd:element ref = "Message" minOccurs = "0"/>
				<xsd:element ref = "MessagesNVP" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "ReplyDestination" minOccurs = "0"/>
				<xsd:element ref = "ReplayCount" minOccurs = "0"/>
				<xsd:element ref = "TransactionData" minOccurs = "0"/>
				<xsd:element ref = "DumpAnalysis" minOccurs = "0"/>
				<xsd:element ref = "DataEncoding" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Category">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "Type">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "Severity">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "Code" default = "0">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "Message">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "500"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TransactionData" type = "xsd:string"/>
	<xsd:element name = "DumpAnalysis" type = "xsd:string"/>
	<xsd:element name = "ReplyDestination">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "128"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "ExceptionRequests">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ExceptionRequest" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DataEncoding">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "MessagesNVP">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Name"/>
				<xsd:element ref = "Value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Name" type = "xsd:string"/>
	<xsd:element name = "Value" type = "xsd:string"/>
	<xsd:element name = "ReplayCount" type = "xsd:integer"/>
</xsd:schema>