GESEventTrackingBE/GESEventTrackingBE/SharedResources/Schemas/Common/LogRequest.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.PepsiCo.com/unique/default/namespace/CommonLE"
	 targetNamespace = "http://www.PepsiCo.com/unique/default/namespace/CommonLE"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "RequestHeader.xsd"/>
	<xsd:element name = "LogRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Header"/>
				<xsd:element ref = "TimeDuration" minOccurs = "0"/>
				<xsd:element ref = "Category" minOccurs = "0"/>
				<xsd:element ref = "Messages" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "Status" minOccurs = "0"/>
				<xsd:element ref = "TransactionBefore" minOccurs = "0"/>
				<xsd:element ref = "TransactionAfter" minOccurs = "0"/>
				<xsd:element ref = "LogLevel" minOccurs = "0"/>
				<xsd:element ref = "DataEncoding" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "TimeDuration" type = "xsd:integer"/>
	<xsd:element name = "Category">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "Messages">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Name"/>
				<xsd:element ref = "Value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Name" type = "xsd:string"/>
	<xsd:element name = "Value" type = "xsd:string"/>
	<xsd:element name = "TransactionBefore" type = "xsd:string"/>
	<xsd:element name = "TransactionAfter" type = "xsd:string"/>
	<xsd:element name = "Status">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "LogRequests">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "LogRequest" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DataEncoding">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "LogLevel">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>