GESEventTrackingBE/GESEventTrackingBE/SharedResources/Schemas/Common/RequestHeader.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.PepsiCo.com/unique/default/namespace/CommonLE"
	 targetNamespace = "http://www.PepsiCo.com/unique/default/namespace/CommonLE"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "ApplicationID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "ComponentName">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "500"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "ServiceName">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TransactionDomain">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TransactionID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TransactionType">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "Timestamp" type = "xsd:dateTime"/>
	<xsd:element name = "Hostname">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "Header">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ApplicationID"/>
				<xsd:element ref = "ServiceName" minOccurs = "0"/>
				<xsd:element ref = "ComponentName" minOccurs = "0"/>
				<xsd:element ref = "Hostname" minOccurs = "0"/>
				<xsd:element ref = "Timestamp"/>
				<xsd:element ref = "TransactionDomain" minOccurs = "0"/>
				<xsd:element ref = "TransactionType" minOccurs = "0"/>
				<xsd:element ref = "TransactionID" minOccurs = "0"/>
				<xsd:element ref = "BusinessID" minOccurs = "0"/>
				<xsd:element ref = "ApplicationDomain" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BusinessID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "ApplicationDomain">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
				<xsd:minLength value = "0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>